.header-container-grid{

    @apply grid grid-cols-3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "menu logo search"
    ;
    height: 8vh;

    .area-menu{
        grid-area: menu;
    }
    .area-back{
        grid-area: back;
    }
    .area-logo{
        grid-area: logo;
    }
    .area-search{
        grid-area: search;
    }
    .area-itens{
        grid-area: itens;
    }
    .area-input{
        grid-area: input;
    }

    @screen xl{
        @apply grid-cols-5;
        grid-template-areas: 
        "back search logo itens itens"
    ;
    }

    .img-input-show{
        @apply grid grid-cols-3;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "back input"
    ;
    }

    .div-back{
        @apply hidden w-11 h-11 relative top-6 left-32 cursor-pointer;
    
        @screen lg{
            @apply flex;
        }
    }
    
    .iten-behavior{
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    }

    .logo {
        text-align: center;
        position: relative;
        left: calc(50% - 34.5px);
        top: 20px;
        cursor: pointer;
    
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    
        img {
            width: 80px;
            height: 37.53px;
            @media (min-width: 1200px) {
                width: 100px;
                height: 47.53px;
            }
        }
    }
    .img-position{  
        @apply left-4;
    }
}

.header-input{
    @apply grid grid-cols-2;
    grid-template-columns: 0.7fr 2fr;
    grid-template-areas: 
        "back input"
    ;
    height: 8vh;

    .area-back{
        grid-area: back;
    }
    .area-input{
        grid-area: input;
    }
    @media (min-width: 768px) {
       grid-template-columns: 0.5fr 2fr;
    }
}

.img-width-users{
    width: 35px;
    height: 25px;
    margin-bottom: 4px;
}

.img-width-my-study{
    width: 35px;
    height: 26px;
    margin-bottom: 4px;
    @media (min-width: 1736px) {
        margin-bottom: 5px;
    }
}

.img-width-add{
    width: 26px;
    height: 26px;
    margin-bottom: 3px;
    @media (min-width: 1736px) {
        margin-bottom: 5px;
    }
}

.img-width-sugere{
    width: 35px;
    height: 27px;
    margin-bottom: 3px;
    @media (min-width: 1736px) {
        margin-bottom: 4px;
    }
}

.img-width-exit{
    width: 26px;
    height: 23px;
    margin-bottom: 4px;
    @media (min-width: 1736px) {
        margin-bottom: 6px;
    }
}


.modal-sobreposicao{
    @apply fixed inset-0 z-20 bg-black opacity-70 cursor-pointer;

    @media (min-width: 1280px) {
        @apply hidden; 
    }
}

.modal-icones{
    @apply fixed left-0 bg-white z-30 w-60 h-screen top-0;

    @screen md{
        @apply w-96;
    }
    @media (min-width: 1280px) {
        @apply relative h-auto w-full bg-transparent;
    }
}

.div-itens-modal{
    @apply fixed flex flex-col z-40 left-0;
}