<app-header [b_Not_Search]="b_Not_Search"></app-header>

<div class="container lg:bg-white lg:bg-opacity-60 relative top-4 pb-8 lg:top-14">
    <div class="flex flex-col relative mb-4 left-4 lg:left-2 lg:ml-2.5">
        <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
    </div>
    <div class="flex flex-col lg:grid grid-cols-2 gap-y-4 xl:gap-y-0 2xl:mb-10">
        <div class="flex flex-col gap-y-4">
            <app-input [required]="true" label="Nome de usuário" [(ngModel)]="obj_Filds_Input.nm_usuario" id="ds_senha"
                name="ds_senha">
            </app-input>
            <app-input [required]="true" label="Login" [(ngModel)]="obj_Filds_Input.cd_login" id="cd_login"
                name="cd_login">
            </app-input>
            <div class="-mt-3 pr-3">
                <selection-input [Iten_Select]="obj_Selection_Input.nm_perfil"
                    [nm_Label_Selection_Input]="nm_Label_Selection_Input_Perfil" [objArrayList]="objArrayPerfil"
                    (Value_Select)="Value_Select_Perfil($event)"></selection-input>
            </div>
        </div>
        <div class="flex flex-col gap-y-4">
            <div class="-mt-3 pr-3">
                <selection-input [Iten_Select]="obj_Selection_Input.sn_login_ad"
                    [nm_Label_Selection_Input]="nm_Label_Selection_Input_Usuario" [objArrayList]="objArrayUsuarioAd"
                    (Value_Select)="Value_Select_AD($event)"></selection-input>
            </div>
            <div *ngIf="!obj_Filds_Input.b_login_ad">
                <div class="input-login input-password">
                    <app-input type="{{b_Exibir_Password? 'teste': 'password'}}" [required]="true" label="Senha" [(ngModel)]="obj_Filds_Input.ds_senha" id="ds_senha"
                        name="ds_senha">
                    </app-input>
                    <button class="btn-action" type="button" (click)="this.b_Exibir_Password = !this.b_Exibir_Password">
                        <img *ngIf="b_Exibir_Password" src="assets/icons/close-eye.svg">
                        <img *ngIf="!b_Exibir_Password" src="assets/icons/eye.svg">
                    </button>
                </div>
            </div>
            <div class="-mt-3 pr-3">
                <selection-input [Iten_Select]="obj_Selection_Input.nm_bloqueio"
                    [nm_Label_Selection_Input]="nm_Label_Selection_Input_Ativo" [objArrayList]="objArrayStatus"
                    (Value_Select)="Value_Select_Status($event)"></selection-input>
            </div>
        </div>
    </div>
    <div class="flex flex-row mt-4 gap-x-4 mx-4 lg:mx-20 lg:gap-x-20">
        <uni-button buttonClass="btn-primary" (click)="Set_Edit_User()">Salvar</uni-button>
        <uni-button buttonClass="btn-outline" (click)="Back()">Voltar</uni-button>
    </div>
</div>

<div *ngIf="Send_Sugestion_Animacao">
    <app-send-suggestion></app-send-suggestion>
</div>


<alert-modal [ds_Descricao]="ds_Alert_Descricao" [b_Show_Alert_Modal]="b_Alert_Modal"
    (b_Closed_Alert_Modal)="Closed_Alert_Modal()" (b_Confirmed)="Closed_Alert_Modal()"></alert-modal>