.container {
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: 1024px) {
        max-width: 850px;
    }
    @media (min-width: 1280px) {
        max-width: 1250px;
    }
    @media (min-width: 1536px) {
        max-width: 1300px;
    }
    @media (min-width: 1636px) {
        max-width: 1300px;
    }
    @media (min-width: 1780px) {
        max-width: 1400px;
    }


    .behavior-button{
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    }
}