.icon-card{
    @apply mx-auto mt-8;
}

.container{
    max-width: 670px;
    margin: 0 auto;
    
    @media (min-width: 1024px) {
        max-width: 850px;
    }
    @media (min-width: 1280px) {
        max-width: 1250px;
    }
    @media (min-width: 1536px) {
        max-width: 1322px;
    }
    @media (min-width: 1636px) {
        max-width: 1300px;
    }
    @media (min-width: 1780px) {
        max-width: 1400px;
    }
}

.div-triangulo {
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #B1D34B;
    border-top-color: rgb(207, 207, 207);
}

.div-hidden-card{
    animation: hidden-card 2s ease-in-out;

    @keyframes hidden-card {
        to{
            opacity: 0;
        }
        from{
            opacity: 1;
            display: hidden;
        }
    }
}

.img-width-information{
    @media (min-width: 1280px) {
        width: 24px;
        height: 26px;
    }
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}


.div-aling-popover {
    left: calc(100% - 10rem);
    top: calc(100% - -0.5rem);

    @media (min-width: 768px) {
        left: calc(100% - 11rem);
    }
    @media (min-width: 1024px) {
        left: calc(100% - 12.2rem);
    }
    @media (min-width: 1200px) {
        left: calc(100% - 12.8rem);
    }
}

.div-aling-popover_filter{

    left: calc(100% - 9.6rem);
    top: calc(50% - 13rem);

    @media (min-width: 768px) {
        left: calc(100% - 14rem);
        top: calc(50% - 26rem);
    }
    @media (min-width: 1024px) {
        left: calc(100% - 15rem);
        top: calc(50% - 8.3rem);
    }
    @media (min-width: 1200px) {
        left: calc(100% - 17.3rem);
        top: calc(50% - 11.3rem);
    }
}

.div-aling-popover_sugestoes{
    
    left: calc(100% - 13.1rem);
    top: calc(50% - 18rem);

    @media (min-width: 768px) {
        left: calc(100% - 21.5rem);
        top: calc(50% - 31rem);
    }
    @media (min-width: 1024px) {
        left: calc(100% - 24.3rem);
        top: calc(50% - 13.3rem);
    }
    @media (min-width: 1200px) {
        left: calc(100% - 26.6rem);
        top: calc(50% - 16.3rem);
    } 
}

.div-aling-item-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.p-rows{
    width: calc(100% - 30px);
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    @media (min-width: 1536px) {
        -webkit-line-clamp: 4;
    }
}

.button-comportamento{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}
