<app-header></app-header>

<div class="container">

    <div class="grid grid-cols-2 pl-14 xl:mt-8 items-end">
        <div class="calc-width relative flex flex-col mt-10 text-sm">
            <p class="text-lg font-semibold text-unimed-darkgray md:text-base xl:font-semibold xl:text-lg">
                Sugestões</p>
                <div class="w-5 h-1 bg-unimed-pink rounded-full relative"></div>
            </div>
            <div class="flex flex-row relative gap-8 md:gap-12 lg:gap-16 mr-16 justify-self-end">
            <div class="absolute div-aling-popover z-20">
                <app-popover [nm_Opcao_top]="nm_Opcao_top" [nm_Opcao_bottom]="nm_Opcao_bottom"
                    [b_Rotate_Triangle]="b_Rotate_Triangle" [b_Show_Popover]="b_Show_Popover"></app-popover>
            </div>
            <img class="behavior-button img-width-information relative w-6 h-6 xl:w-8 xl:h-8 cursor-pointer" src="assets/icons/information.svg" (click)="b_Show_Popover = !b_Show_Popover">
            <img class="behavior-button relative w-6 h-6 xl:w-7 xl:h-8 cursor-pointer" src="assets/icons/check-list.svg">
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 relative top-8 md:top-12 lg:gap-x-12 gap-y-10 w-full pb-10 px-12 md:px-16">
        <div
            class="h-52 3xl:h-64 inline-block relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green {{b_Okay? 'div-hidden-card':''}}">
            <div class="div-aling-item-card h-12">
                <p
                    class="my-auto font-semibold text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden text-unimed-darkgray">
                    O mundo é lindo
                </p>
                <div class="flex flex-row">
                    <p class="mt-3 lg:mt-4 absolute hidden sm:flex font-medium right-12 lg:right-16">Feito</p>
                    <div class="w-5 h-5 rounded-full absolute right-5 lg:right-9 border-2 cursor-pointer mt-3 lg:mt-4 border-unimed-green"
                        (click)="b_Okay = !b_Okay">
                        <img class="relative {{b_Okay? '':'hidden'}}" src="assets/icons/okay.svg">
                    </div>
                </div>
            </div>
            <p
                class="p-rows pt-2 my-auto font-medium xl:text-base xl:leading-7 pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>
        </div>
        <div
            class="h-52 3xl:h-64 inline-block relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green {{b_Okay? 'div-hidden-card':''}}">
            <div class="div-aling-item-card h-12">
                <p
                    class="my-auto font-semibold text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden text-unimed-darkgray">
                    O mundo é lindo
                </p>
                <div class="flex flex-row">
                    <p class="mt-3 lg:mt-4 absolute hidden sm:flex font-medium right-12 lg:right-16">Feito</p>
                    <div class="w-5 h-5 rounded-full absolute right-5 lg:right-9 border-2 cursor-pointer mt-3 lg:mt-4 border-unimed-green"
                        (click)="b_Okay = !b_Okay">
                        <img class="relative {{b_Okay? '':'hidden'}}" src="assets/icons/okay.svg">
                    </div>
                </div>
            </div>
            <p
                class="p-rows pt-2 my-auto font-medium xl:text-base xl:leading-7 pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>
        </div>

    </div>
</div>