<app-header [b_Not_Search]="b_Not_Search"></app-header>

<div class="container relative top-6 lg:top-14 px-12">

    <div class="flex flex-col relative left-2 lg:left-2 lg:ml-2.5">
        <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
    </div>
    <div class="top-6 relative flex flex-col gap-y-4">
        <app-input label="Título"></app-input>
        <app-input label="Descricao"></app-input>
        <div class="lg:mt-4 flex flex-row w-full xl:w-6/12 px-4 gap-x-4 lg:gap-x-10 mx-auto">
            <uni-button buttonClass="btn-outline">Voltar</uni-button>
            <uni-button buttonClass="btn-primary" (click)="Send_Sugestion()">Adicionar</uni-button>
        </div>
    </div>
</div>
<div *ngIf="Send_Sugestion_Animacao">
    <app-send-suggestion></app-send-suggestion>
</div>