.container{
    margin: 0 auto;
    @media (min-width: 720px) {
        max-width: 650px;
    }
    @media (min-width: 1024px) {
        max-width: 800px;
    }
    @media (min-width: 1536px) {
        max-width: 1120px;
    }
    @media (min-width: 1636px) {
        max-width: 1280px;
    }
}


.div-grid-group{
    grid-template-columns: 1.3fr 1fr;
    @media (min-width: 720px) {
        grid-template-columns: 2fr 1fr;
    }
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.div-calc-itens{
    left: calc(100% - 23.4rem);

    @media (min-width: 720px) {
        left: calc(50% - 43rem);
    }
}
