<app-header></app-header>

<div class="div-calc-itens absolute">
    <p class="relative text-base font-semibold text-unimed-darkgray md:text-base left-8 md:left-20 lg:left-52 3xl:left-64 3xl:text-lg top-3 md:top-12 3xl:top-16">Adicionar conteúdo</p>
    <div class="w-5 h-1 bg-unimed-pink rounded-full relative left-8 md:left-20 lg:left-52 3xl:left-64 top-3 md:top-12 3xl:top-16"></div>
</div>

<div class="w-full mt-10 md:mt-20">
    <div class="container flex-wrap w-full flex relative">
        <div class="div-calc-width mx-auto">
            <app-input></app-input>
            <app-input></app-input>
            <app-input></app-input>
            <div class="div-grid-group grid grid-cols-2">
                <app-input></app-input>
                <div class="behavior-button flex flex-row mx-auto cursor-pointer">
                    <img class="relative w-5 h-5 lg:w-6 lg:h-6 my-4 md:my-5" src="assets/icons/add-group.svg">
                    <div class="text-sm relative lg:text-base my-4 pl-2 md:my-5">
                        Adicionar grupo
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 md:gap-0 w-full relative top-6">
                <button class="behavior-button w-32 h-10 md:w-44 md:h-12 mx-auto rounded-2xl bg-unimed-pink text-unimed-background text-lg">
                    Cancelar
                </button>
                <button class="behavior-button w-32 h-10 md:w-44 md:h-12 mx-auto rounded-2xl bg-unimed-green text-unimed-background text-lg">
                    Salvar
                </button> 
            </div>
        </div>
    </div>
</div>