<div class="paginate-buttons">
    <button type="button" title="Voltar todas as páginas" (click)="Ir_Pagina(1)"><img
            src="assets/icons/super-arrow-left.svg"></button>

    <button type="button" title="Voltar uma página" [disabled]="nr_Pagina == 1" (click)="Voltar_Pagina()"><img
            src="assets/icons/arrow-left.svg"></button>

    <div [ngClass]="nr_Pagina == objArrayPaginasExibidas[0] ? 'counter selecionado' : 'counter'"
        (click)="Ir_Pagina(objArrayPaginasExibidas[0] )">
        {{ objArrayPaginasExibidas[0] }} </div>

    <div *ngIf="nr_Quantidade_Pagina > 1"
        [ngClass]="nr_Pagina == objArrayPaginasExibidas[1] ? 'counter selecionado' : 'counter'"
        (click)="Ir_Pagina(objArrayPaginasExibidas[1])">
        {{ objArrayPaginasExibidas[1] }} </div>

    <div *ngIf="nr_Quantidade_Pagina > 2"
        [ngClass]="nr_Pagina == objArrayPaginasExibidas[2] ? 'counter selecionado' : 'counter'"
        (click)="Ir_Pagina(objArrayPaginasExibidas[2])">
        {{ objArrayPaginasExibidas[2] }} </div>

    <div *ngIf="nr_Quantidade_Pagina > 3"
        [ngClass]="(nr_Pagina == objArrayPaginasExibidas[3]) ? 'counter selecionado' : 'counter'"
        (click)="Ir_Pagina(objArrayPaginasExibidas[3])">
        {{ objArrayPaginasExibidas[3] }} </div>

    <div *ngIf="nr_Quantidade_Pagina > 4"
        [ngClass]="(nr_Pagina == nr_Quantidade_Pagina) ? 'counter selecionado' : 'counter'"
        (click)="Ir_Pagina(objArrayPaginasExibidas[4])">
        {{ objArrayPaginasExibidas[4] }} </div>

    <div *ngIf="nr_Quantidade_Pagina > 5" class="counter " nz-button nz-popover nzPopoverTrigger="hover"
        [nzPopoverContent]="contentTemplate">
        ...
    </div>

    <ng-template #contentTemplate>
        <div class="div-paginas grid grid-cols-4">
            <div class="gap-x-4" *ngFor="let pagina of objArrayPaginas"
                [ngClass]="'div-paginator-pagina ' + (nr_Pagina == pagina ? 'selecionado' : '')"
                (click)="Ir_Pagina(pagina)">
                {{pagina}}
            </div>
        </div>
    </ng-template>

    <button type="button" title="Ir para a próxima página" [disabled]="nr_Pagina == nr_Quantidade_Pagina"
        (click)="Avancar_Pagina()"><img src="assets/icons/arrow-right.svg">
    </button>

    <button type="button" title="Ir para a ultima página" (click)="Ir_Pagina(nr_Quantidade_Pagina)"><img
        src="assets/icons/super-arrow-right.svg">
    </button>

</div>