<app-header [obj_Array_Itens]="obj_Array_Usuarios" (Input_Emit_Value)="onFilter_Search($event)"></app-header>

<div class="container lg:bg-white lg:bg-opacity-60 relative px-2 top-6 md:top-9 lg:top-14 pb-12">
    <div class="grid grid-cols-2">
        <div class="flex flex-col relative left-2 lg:left-2 lg:ml-2.5">
            <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
        </div>
        <div class="flex flex-row gap-6 lg:gap-10 my-auto justify-end relative right-1 xl:mr-4 cursor-pointer">
            <img class="behavior-button w-5 h-5 xl:w-7 xl:h-7 2xl:w-6 2xl:h-6" src="assets/icons/more-options-user.svg"
                routerLink="/adicionar-usuario">
            <app-button-filter (b_Show_Modal)="Show_Modal($event)"></app-button-filter>
            <img class="behavior-button w-6 h-6 xl:w-8 xl:h-8 2xl:w-7 2xl:h-7" src="assets/icons/refresh.svg">
        </div>
    </div>
    <div *ngIf="obj_Array_Usuarios.length != 0">

        <div class="hidden div-grid-title mt-8 lg:grid grid-cols-6">
            <p class="lg:text-center font-semibold">ID</p>
            <p class="font-semibold lg:grid ml-5">Nome</p>
            <p class="lg:text-center font-semibold">Usuário</p>
            <p class="lg:text-center font-semibold">Perfil</p>
            <p class="lg:text-center font-semibold">Status</p>
            <p class="lg:text-center font-semibold">Editar</p>
        </div>
    </div>
    <div class="top-5 relative flex flex-col gap-y-4" *ngFor="let iten of obj_Array_Usuarios | filter: Input_Value">
        <div *ngIf="b_Width == false">
            <div
                class="rounded-lg div-grid-title mb-2 shadow-xl lg:h-14 w-full lg:grid lg:grid-cols-6 bg-unimed-background">

                <div class="div-grid-name-arrow grid grid-cols-2 xl:grid-cols-1" (click)="Show_Itens()">
                    <p class="my-3 lg:my-auto ml-5 w-10/12 font-medium truncate">
                        {{iten.nome}}</p>
                    <img class="my-auto xl:hidden {{b_Show_Itens? 'img-rotation-arrow-down':''}}"
                        src="assets/icons/arrow-up.svg">
                </div>
                <div class="pb-4 flex flex-col gap-y-1" *ngIf="b_Show_Itens && b_Width == false">

                    <div class="flex flex-row gap-x-3">
                        <p class="ml-5 lg:text-center lg:relative font-semibold">ID:</p>
                        <p class="text-center my-auto truncate">{{iten.id}}</p>
                    </div>
                    <div class="flex flex-row gap-x-3">
                        <p class="ml-5 lg:text-center font-semibold">Usuário:</p>
                        <p class="lg:text-center my-auto w-7/12 truncate">{{iten.usuario}}
                        </p>
                    </div>
                    <div class="flex flex-row gap-x-3">
                        <p class="ml-5 lg:text-center font-semibold">Perfil:</p>
                        <p class="lg:text-center my-auto w-8/12 truncate">{{iten.perfil}}
                        </p>
                    </div>
                    <div class="flex flex-row gap-x-3">
                        <p class="ml-5 lg:text-center font-semibold">Perfil:</p>
                        <p class="lg:text-center my-auto w-8/12 truncate">{{iten.status}}
                        </p>
                    </div>
                    <div class="flex flex-row gap-x-3 behavior-button" routerLink="/editar-usuario">
                        <img class="reltive left-5 ml-5 mt-1 behavior-button w-4 h-4 lg:w-7 lg:h-7 my-auto cursor-pointer lg:mx-auto"
                            src="assets/icons/edit.svg">
                        <p>Editar</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="b_Width">
            <div
                class="rounded-lg div-grid-title shadow-xl mb-2 lg:h-14 w-full lg:grid lg:grid-cols-6 bg-white hover:bg-slate-100">
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap">{{iten.id}}</p>
                <p class="my-3 lg:my-auto ml-5 text-ellipsis overflow-hidden whitespace-nowrap">
                    {{iten.nome}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap">{{iten.usuario}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap">{{iten.perfil}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap">{{iten.status}}</p>
                <img class="behavior-button w-5 h-5 my-auto mx-auto cursor-pointer" src="assets/icons/edit.svg"
                    routerLink="/editar-usuario">
            </div>
        </div>
    </div>
</div>

<app-modal (b_Click_Sobreposicao)="Close_Modal()" class="{{b_Show_Filter?'':'hidden'}}">
    <div class="grid grid-cols-2">
        <div class="flex flex-col relative left-2 lg:left-2 pb-4 lg:ml-2.5 -mt-4">
            <uni-title ds_Titulo="Filtro"></uni-title>
        </div>
        <img class="behavior-button w-5 h-4 mt-1 absolute right-5 lg:right-8 top-8 cursor-pointer"
            src="assets/icons/X.svg" (click)="b_Show_Filter = !b_Show_Filter">
    </div>
    <div class="flex flex-col gap-y-2">
        <form>
            <app-input [required]="true" label="Nome" [(ngModel)]="objFilter.nm_Nome" id="nm_Nome" name="nm_Nome">
            </app-input>
            <app-input [required]="true" label="Usuário" [(ngModel)]="objFilter.nm_Usuario" id="nm_Usuario"
                name="nm_Usuario"></app-input>
            <app-input [required]="true" label="Status (ativo ou inativo)" [(ngModel)]="objFilter.nm_Status"
                id="nm_Status" name="nm_Status"></app-input>
        </form>
    </div>
    <div class="flex flex-row mt-4 gap-x-4 mx-4">
        <uni-button buttonClass="btn-outline" (click)="Close_Modal()">Voltar</uni-button>
        <uni-button buttonClass="btn-primary" (click)="Filtrar()">Filtrar</uni-button>
    </div>
</app-modal>

<div *ngIf="obj_Array_Usuarios.length == 0 || !obj_Array_Usuarios">
    <animation-nothing-found></animation-nothing-found>
</div>