<app-header (Input_Emit_Value)="onFilter_Search($event)"></app-header>

<div class="container lg:bg-white lg:bg-opacity-60 relative px-2 top-6 md:top-9 lg:top-14 pb-6">
    <div class="grid grid-cols-2">
        <div class="flex flex-col relative left-2 lg:left-2 lg:ml-2.5">
            <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
        </div>
        <div class="flex flex-row gap-6 lg:gap-10 my-auto justify-end relative right-1 xl:mr-4 cursor-pointer">
            <img class="behavior-button w-5 h-5 xl:w-7 xl:h-7 2xl:w-6 2xl:h-6" src="assets/icons/more-options-user.svg"
                routerLink="/adicionar-usuario">
            <app-button-filter (b_Show_Modal)="Show_Modal($event)"></app-button-filter>
            <img class="behavior-button w-6 h-6 xl:w-8 xl:h-8 2xl:w-7 2xl:h-7" src="assets/icons/refresh.svg">
        </div>
    </div>

    <div class="hidden div-grid-title mt-8 lg:grid grid-cols-6">
        <p class="lg:text-center font-semibold text-base">ID</p>
        <p class="font-semibold lg:grid ml-5 text-base">Nome</p>
        <p class="lg:text-center font-semibold text-base">Usuário</p>
        <p class="lg:text-center font-semibold text-base">Perfil</p>
        <p class="lg:text-center font-semibold text-base">Status</p>
        <p class="lg:text-center font-semibold text-base">Editar</p>
    </div>
    <div class="top-5 relative flex flex-col">
        <div class="lg:hidden">
            <cdk-virtual-scroll-viewport
                class="cdk-listagem-items rounded-lg div-grid-title mb-2 shadow-xl lg:h-14 w-full lg:grid lg:grid-cols-6 bg-unimed-background"
                [itemSize]="40" minBufferPx="600" maxBufferPx="600">

                <div *cdkVirtualFor="let item of obj_Array_Usuarios | filter: Input_Value">

                    <div class="div-grid-name-arrow grid grid-cols-2 xl:grid-cols-1" (click)="Show_Item(item)">
                        <p class="my-3 lg:my-auto ml-5 w-10/12 font-medium truncate">
                            {{item.cd_login}}</p>
                        <img class="my-auto xl:hidden {{item.show? 'img-rotation-arrow-down':''}}"
                            src="assets/icons/arrow-up.svg">
                    </div>
                    <div class="pb-4 flex flex-col gap-y-1" *ngIf="item.show && b_Width == false">

                        <div class="flex flex-row gap-x-3">
                            <p class="ml-5 lg:text-center lg:relative font-semibold">ID:</p>
                            <p class="text-center my-auto truncate">{{item.cd_usuario}}</p>
                        </div>
                        <div class="flex flex-row gap-x-3">
                            <p class="ml-5 lg:text-center font-semibold">Usuário:</p>
                            <p class="lg:text-center my-auto w-7/12 truncate">{{item.nm_usuario}}
                            </p>
                        </div>
                        <div class="flex flex-row gap-x-3">
                            <p class="ml-5 lg:text-center font-semibold">Perfil:</p>
                            <p class="lg:text-center my-auto w-8/12 truncate">{{item.perfil.role}}
                            </p>
                        </div>
                        <div class="flex flex-row gap-x-3">
                            <p class="ml-5 lg:text-center font-semibold">Status:</p>
                            <p class="lg:text-center my-auto w-8/12 truncate">{{item.dt_bloqueio ==
                                null?'Ativo':'Inativo'}}
                            </p>
                        </div>
                        <div class="flex flex-row gap-x-3 behavior-button" routerLink="/editar-usuario">
                            <img class="reltive left-5 ml-5 mt-1 behavior-button w-4 h-4 lg:w-7 lg:h-7 my-auto cursor-pointer lg:mx-auto"
                                src="assets/icons/edit.svg">
                            <p>Editar</p>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <div class="hidden lg:flex" *ngFor="let item of obj_Array_Usuarios | filter: Input_Value">
            <div
                class="rounded-lg div-grid-title shadow-xl mb-2 lg:h-14 w-full lg:grid lg:grid-cols-6 bg-white hover:bg-slate-100">
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap font-medium text-base">
                    {{item.cd_usuario}}</p>
                <p class="my-3 lg:my-auto ml-5 text-ellipsis overflow-hidden whitespace-nowrap font-medium text-base">
                    {{item.nm_usuario}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap font-medium text-base">
                    {{item.cd_login}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap font-medium text-base">
                    {{item.perfil.role}}</p>
                <p class="text-center my-auto text-ellipsis overflow-hidden whitespace-nowrap font-medium text-base">
                    {{item.dt_bloqueio == null?'Ativo':'Inativo'}}</p>
                <img class="behavior-button w-5 h-5 my-auto mx-auto cursor-pointer" src="assets/icons/edit.svg"
                    [routerLink]="['/editar-usuario', item.cd_usuario]">
            </div>
        </div>
    </div>
</div>
<div class="hidden lg:flex">
    <div class="relative" style="width: 502px; margin: 10px auto 0; justify-content: center; display: flex; top: 50px;">
        <uni-paginator (onPageChange)="Mudar_Pagina($event)" [nr_Pagina]="objUsuarios.nr_pagina"
            [nr_Por_Pagina]="objUsuarios.page_lenght" [nr_Registros]="objUsuarios.nr_registos">
        </uni-paginator>
    </div>
</div>

<app-modal (b_Click_Sobreposicao)="Close_Modal()" class="{{b_Show_Filter?'':'hidden'}}">
    <div class="grid grid-cols-2">
        <div class="flex flex-col relative left-2 lg:left-2 pb-4 lg:ml-2.5 -mt-4">
            <uni-title ds_Titulo="Filtro"></uni-title>
        </div>
        <img class="behavior-button w-5 h-4 mt-1 absolute right-5 lg:right-8 top-8 cursor-pointer"
            src="assets/icons/X.svg" (click)="Close_Modal()">
    </div>
    <div class="flex flex-col gap-y-2">
        <form>
            <app-input [required]="true" label="Id" [(ngModel)]="objUsuarios.cd_usuario" id="cd_usuario"
                name="cd_usuario">
            </app-input>
            <app-input [required]="true" label="Nome" [(ngModel)]="objUsuarios.nm_usuario" id="nm_usuario"
                name="nm_usuario">
            </app-input>
            <app-input [required]="true" label="Usuário" [(ngModel)]="objUsuarios.cd_login" id="cd_login"
                name="cd_login">
            </app-input>
            <div class="-mt-3 pr-3">
                <selection-input [nm_Label_Selection_Input]="nm_Label_Selection" [objArrayList]="objArrayStatus"
                    (Value_Select)="Value_Select_Status($event)">
                </selection-input>
            </div>
        </form>
    </div>
    <div class="flex flex-row mt-4 gap-x-4 mx-4">
        <uni-button buttonClass="btn-primary" (click)="Filtrar()">Filtrar</uni-button>
        <uni-button buttonClass="btn-outline" (click)="Close_Modal()">Voltar</uni-button>
    </div>
</app-modal>

<!-- <div *ngIf="obj_Array_Usuarios.length == 0 || !obj_Array_Usuarios">
    <animation-nothing-found></animation-nothing-found>
</div> -->