.header-container-grid{

    @apply grid grid-cols-3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "menu logo search"
    ;
    height: 8vh;

    .area-menu{
        grid-area: menu;
    }
    .area-back{
        grid-area: back;
    }
    .area-logo{
        grid-area: logo;
    }
    .area-search{
        grid-area: search;
    }
    .area-itens{
        grid-area: itens;
    }
    .area-input{
        grid-area: input;
    }

    @screen xl{
        @apply grid-cols-5;
        grid-template-areas: 
        "back search logo itens itens"
    ;
    }

    .img-input-show{
        @apply grid grid-cols-3;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "back input"
    ;
    }

    .div-back{
        @apply hidden w-11 h-11 relative top-6 left-32 cursor-pointer;
    
        @screen lg{
            @apply flex;
        }
    }
    
    .iten-behavior{
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    }

    .logo {
        text-align: center;
        position: relative;
        left: calc(50% - 34.5px);
        top: 20px;
        cursor: pointer;
    
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    
        img {
            width: 80px;
            height: 37.53px;
            @media (min-width: 1200px) {
                width: 100px;
                height: 47.53px;
            }
        }
    }
    .img-position{  
        @apply left-4;
    }
}

.div-width-options-modal{
    width: 14rem;
    @media (min-width: 760px) {
        width: 22.6rem;
    }
}

.div-aling-popover{
    margin-left: 0.8rem;
    @media (min-width: 1280px) {
        margin-left: 0.7rem;;
    }
    @media (min-width: 1536px) {
        margin-left: -0.3rem;
    }
    @media (min-width: 1636px) {
        margin-left: -1.3rem;
    }
    @media (min-width: 1736px) {
        margin-left: -0.1rem;
    }
}

.position-itens-no-adm{
    position: relative;
    right: calc(80% - 16rem);

    @media (min-width: 1536px) {
        right: calc(80% - 18rem);
    }
}
.position-itens-adm{
    position: relative;
    right: calc(80% - 7rem);

    @media (min-width: 1536px) {
       right: calc(80% - 7rem);
    }
}

.div-triangulo {
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #B1D34B;
    border-top-color: rgb(243, 242, 242);
}


.header-input{
    @apply grid grid-cols-2;
    grid-template-columns: 0.7fr 2fr;
    grid-template-areas: 
        "back input"
    ;
    height: 8vh;

    .area-back{
        grid-area: back;
    }
    .area-input{
        grid-area: input;
    }
    @media (min-width: 768px) {
       grid-template-columns: 0.5fr 2fr;
    }
}

.img-width-users{
    width: 33px;
    height: 20px;
    margin-bottom: 4px;
    @media (min-width: 768px) {
        width: 53px;
        height: 30px;
    }
    @media (min-width: 1200px) {
        width: 35px;
        height: 25px;
        margin-bottom: 4px;
    }
}

.img-width-contents{
    width: 33px;
    height: 20px;
    margin-bottom: 3px;
    @media (min-width: 768px) {
        width: 52px;
        height: 29px;
    }
    @media (min-width: 1200px) {
        width: 35px;
        height: 26px;
        margin-bottom: 4px;
    }
    @media (min-width: 1736px) {
        margin-bottom: 5px;
    }
}

.img-width-category{
    width: 33px;
    height: 20px;
    margin-bottom: 3px;
    @media (min-width: 768px) {
        width: 52px;
        height: 29px;
    }
    @media (min-width: 1200px) {
        width: 35px;
        height: 26px;
        margin-bottom: 4px;
    }
    @media (min-width: 1736px) {
        margin-bottom: 5px;
    }
}

.img-width-my-study{
    width: 32px;
    height: 18px;
    margin-bottom: 4px;
    @media (min-width: 768px) {
        width: 52px;
        height: 29px;
    }
    @media (min-width: 1200px) {
        width: 35px;
        height: 26px;
        margin-bottom: 4px;
    }
    @media (min-width: 1736px) {
        margin-bottom: 5px;
    }
}

.img-width-sugere{
    width: 31px;
    height: 23px;
    margin-bottom: 3px;
    @media (min-width: 768px) {
        width: 51px;
        height: 35px;
    }
    @media (min-width: 1200px) {
        width: 35px;
        height: 27px;
        margin-bottom: 3px;
    }
    @media (min-width: 1736px) {
        margin-bottom: 4px;
    }
}

.img-width-exit{
    width: 33px;
    height: 21px;
    margin-bottom: 4px;
    @media (min-width: 768px) {
        width: 53px;
        height: 31px;
    }
    @media (min-width: 1200px) {
        width: 47px;
        height: 25px;
        margin-bottom: 4px;
    }
    @media (min-width: 1736px) {
        margin-bottom: 6px;
    }
}

.container{
    margin: 0 auto;
    @media (min-width: 720px) {
        max-width: 930px;
    }
    @media (min-width: 1536px) {
        max-width: 1400px;
    }
    @media (min-width: 1636px) {
        max-width: 1840px;
    }
}

.container-no-back{
    margin: 0 auto;
    @media (min-width: 720px) {
        max-width: 930px;
    }
    @media (min-width: 1536px) {
        max-width: 1400px;
    }
    @media (min-width: 1758px) {
        max-width: 1600px;
    }
}

.div-left-calc-back{
    left: calc(100% - 15rem);
    @media (min-width: 1636px) {
        left: calc(100% - 8rem);
    }
}

.modal-sobreposicao{
    @apply fixed inset-0 z-20 bg-black opacity-70 cursor-pointer;

    @media (min-width: 1280px) {
        @apply hidden; 
    }
}

.modal-icones{
    @apply fixed left-0 bg-white z-30 w-60 h-screen top-0;

    @screen md{
        @apply w-96;
    }
    @media (min-width: 1280px) {
        @apply relative h-auto w-full bg-transparent;
    }
}

.div-itens-modal{
    @apply fixed flex flex-col z-40 left-0;
}