.div-header{
    @apply w-full flex flex-row-reverse justify-between h-20;

    @screen md{
        @apply md:flex-row;
    }

    .div-back{
        @apply hidden w-11 h-11 relative top-6 left-32 cursor-pointer;

        @screen lg{
            @apply flex;
        }
    }

    .div-comportamento-voltar{
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    }

    .logo {
        text-align: center;
        position: absolute;
        left: calc(50% - 34.5px);
        top: 20px;
        cursor: pointer;
    
        &:active {
            transform: scale(0.92);
            transition-duration: 280ms;
        }
    
        img {
            width: 80px;
            height: 37.53px;
            @media (min-width: 1200px) {
                width: 100px;
                height: 47.53px;
            }
        }
    }

    .div-fiter{
    
        @media (min-width: 768px) {
            @apply hidden;
        }
    
        .img-width-filter{
            @apply w-6 h-6 absolute top-6 left-6;
        
            &:active {
                transform: scale(0.92);
                transition-duration: 280ms;
            }
        }
    }

    .itens-options{
        @apply hidden;
        @media (min-width: 1200px) {
            @apply grid grid-cols-4 gap-4 text-sm text-center;
        }
    }
}

