<div class="input input-select" (click)="b_Show_Modal = true">
    <input class="input-borda" [required]="true" type="text" [ngClass]="control.touched ? 'ng-touched' : ''" readonly [ngModel]="Iten_Select?.nm_Nome" [formControl]="control_Aux">
    <label>{{nm_Label_Selection_Input}}</label>

    <div *ngIf="control_Aux.value && control.enabled" class="div-close" (click)="Remover_Valor($event)">
        <img class="w-3 h-3" src="assets/icons/X.svg">
    </div>
</div>

<div *ngIf="b_Show_Modal">
    <app-selection-modal [objArrayItens]="objArrayList" [nm_Label_Selection_Input]="nm_Label_Selection_Input" (b_Closed_Modal)="Closed_Modal($event)" (nm_Iten_Select)="Iten_Select_Modal($event)"></app-selection-modal>
</div>
