.div-close {
    position: absolute;
    right: 45px;
    top: 17px;
    cursor: pointer;
    z-index: 10;

    img {
        width: 25px;
        margin-top: 8px;
    }
}

.input-borda:hover{
    
    transition: .280s; 
}

.input {
    position: relative;
    background-color: transparent;
    border-radius: 3px;
    padding-top: 15px;
    margin-left: 10px;

    @media (min-width: 1024px) {
        padding-top: 5px;
    }

    label {
        position: absolute;
        margin: 0rem 1rem 0 1rem;
        font-size: var(--font-size-smaller);
        font-style: normal;
        font-weight: normal;
        line-height: 12px;
        color: #000000;
        background-color: transparent;
        left: 0;
        right: 0;

        .note {
            font-style: normal;
            font-weight: normal;
            line-height: 12px;
            color: #000000;
            background-color: #fff;
            float: right;
            left: 0;
            right: 0;
            font-size: var(--font-size-tiny);
        }

        .required {
            font-weight: bold;
            margin-left: 8px;
            vertical-align: middle;
            display: inline-block;
            font-size: 1.35rem;
        }
    }

    &.full {
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-normal);
        color: #131315;
        background: transparent;
        width: 100%;
        outline: none;
        border-bottom: 1px #E9E9E9 solid;
        border-left: 1px #E9E9E9 solid;
        border-right: 1px #E9E9E9 solid;
        border-top: none;
        transition-duration: 280ms;
        resize: none;
        line-height: 1.15;
        margin: 0;
        overflow: auto;

        &._disabled {
            background: rgba($color: #ffffff, $alpha: 0.5);
            border-bottom: 1px #E9E9E9 solid;
            transition-duration: 280ms;
            cursor: not-allowed;
        }

        &._disabled select,
        &._disabled label {
            background: none;
            cursor: not-allowed;
        }
    }

    textarea {
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-normal);
        color: #131315;
        padding: 2rem 1rem 0.5rem 1rem;
        background: transparent;
        width: 100%;
        outline: none;
        border-bottom: 1px #E9E9E9 solid;
        border-left: 1px #E9E9E9 solid;
        border-right: 1px #E9E9E9 solid;
        border-top: none;
        transition-duration: 280ms;
        height: 150px;
        resize: none;
        line-height: 1.15;
        margin: 0;
        overflow: auto;

        &:not([disabled]):hover,
        &:not([disabled]):focus {
            border-bottom: 1px var(--laranja-unimed) solid;
            transition-duration: 280ms;
        }

        &:not([disabled]):hover ~ label,
        &:not([disabled]):focus ~ label {
            color: var(--laranja-unimed);
            transition-duration: 280ms;
        }

        &.ng-invalid.ng-touched {
            border: 2px solid var(--rosa-unimed);
        }

        &:disabled {
            background: rgba($color: #ffffff, $alpha: 0.5);
            border-bottom: 1px #E9E9E9 solid;
            transition-duration: 280ms;
            cursor: not-allowed;
        }

        &:disabled ~ label {
            background: none;
        }
    }

    input:not([type='checkbox']) {
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-normal);
        color: #131315;
        padding: 2rem 1rem 1rem 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background: transparent;
        width: 100%;
        outline: none;
        border-bottom: 1px #818181 solid;
        border-left: 1px #818181 solid;
        border-right: 1px #818181 solid;
        border-top: none;
        transition-duration: 280ms;
        border-radius: 3px;
        height: 40px;
        margin-top: 8px;

        @media (min-width: 1200px) {
            height: 50px;
        }

        &:not([disabled]):hover,
        &:not([disabled]):focus {
            border-bottom: 1px var(--laranja-unimed) solid;
            transition-duration: 280ms;
        }

        &:not([disabled]):hover ~ label,
        &:not([disabled]):focus ~ label {
            color: var(--laranja-unimed);
            transition-duration: 280ms;
        }

        &.ng-invalid.ng-touched {
            border: 2px solid var(--rosa-unimed);
        }

        &:disabled {
            background: rgba($color: #ffffff, $alpha: 0.5);
            border-bottom: 1px #E9E9E9 solid;
            transition-duration: 280ms;
            cursor: not-allowed;
        }

        &:disabled ~ label {
            background: none;
        }
    }

    .time-hour,
    .time-minutes {
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-normal);
        color: #131315;
        padding: 2rem 1rem 1rem 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        background: white;
        outline: none;
        border: none;
        transition-duration: 280ms;
        height: 75px;
    }

    .loading {
        position: absolute;
        right: 1rem;
        top: 50%;
        width: 25px;
        height: 25px;
        background: url('/assets/unimed-design-system/images/loading.gif') no-repeat;
        background-size: contain;
    }

    .input-error {
        border-left: 1px solid var(--rosa-unimed) !important;
        /* red */
    }

    @media screen and (max-width: 768px) {
        &:first-of-type input {
            border-radius: 4px 4px 0 0;
        }

        &:last-of-type input {
            border-radius: 0 0 4px 4px;
        }
    }

    &.input-select {

        input {
            padding: 1rem 5rem 1.2rem 1rem;
            cursor: pointer;
        }

        &::after {
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2325 0L9.5 7.25167L16.7675 0L19 2.2325L9.5 11.7325L0 2.2325L2.2325 0Z' fill='%235B5C65'/%3E%3C/svg%3E%0A");
            width: 19px;
            height: 12px;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }

        .btn-clean {
            line-height: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 0.75rem;
            transform: translateY(-50%);
            z-index: 5;
            cursor: pointer;
            border: 1px #5d5d5d solid;
            border-radius: 4px;
            background: #F5F5F5;

            &:hover {
                border-color: #353535;
            }
        }
    }

    &.input-button {

        button {
            position: absolute;
            right: 0.5rem;
            top: 60%;
            transform: translateY(-50%);
            outline: none;
            background: none;
            border: none;
            cursor: pointer;

            &:hover,
            &:focus {
                cursor: pointer;
                opacity: 0.76;
            }

            &:active {
                transform: scale(0.92) translateY(-50%);
            }
        }
    }
}

.div-modal-sobreposicao{
    @apply fixed inset-0 z-20 bg-black opacity-70 cursor-pointer;

}

.div-modal-filter{
    width: calc(100% - 40px);
    top: calc(50% - 12rem);
    @apply fixed bg-white my-auto z-30 rounded-lg transform -translate-x-1/2 left-1/2;

    @media (min-width: 720px) {
        width: calc(100% - 9rem);
    }

    @media (min-width: 1200px) {
        width: calc(100% - 50rem);
    }
    @media (min-width: 1636px) {
        width: calc(100% - 60rem);
    }
}

