.icon-card{
    @apply mx-auto mt-8;
}

.container{
    margin: 0 auto;
    @apply pb-10;

    margin: 0 auto;
    @media (min-width: 720px) {
        max-width: 650px;
    }
    @media (min-width: 1024px) {
        max-width: 800px;
    }
    @media (min-width: 1280px) {
        max-width: 1120px;
    }
    @media (min-width: 1536px) {
        max-width: 1120px;
    }
    @media (min-width: 1636px) {
        max-width: 1380px;
    }
}

.div-aling-popover{
    left: calc(100% - 5rem);
    top: calc(50% - 11.5rem);
    @media (min-width: 1024px) {
        left: calc(100% - 4.8rem);
        top: calc(50% - 11.5rem);
    }
}

.p-rows{
    width: calc(100% - 30px);
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.button-comportamento{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}
