<app-header></app-header>

<body class="w-full">
    <div class="flex flex-row">
        <img class="relative w-9 h-9 md:w-14 md:h-14 left-6 md:left-16 lg:left-48 3xl:left-64 top-4 md:top-9 3xl:top-14"
            src="assets/icons/person-study.svg">
        <p
            class="relative text-base md:text-base left-8 md:left-20 lg:left-52 3xl:left-64 3xl:text-lg top-5 md:top-12 3xl:top-16">
            Complice</p>
    </div>
    <div class="container grid grid-cols-1 lg:grid-cols-2 relative top-7 md:top-12 3xl:top-20 flex-wrap gap-y-8 w-full pb-10">
        <div class="calc-width h-52 3xl:h-64 inline-block  relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green">
            <div class="div-aling-item-card h-12">
                <p class="my-auto font-medium text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden">
                    O mundo é lindo
                </p>
                <div class="w-6 h-10 bg-slate-600">

                </div>
            </div>
            <p class="p-rows pt-2 my-auto font-medium pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>

            <button class="button-comportamento w-32 h-10 absolute right-6 bottom-4 text-left pl-5 rounded-2xl bg-unimed-green text-unimed-background text-lg">
                Acessar
                <img class="absolute right-4 bottom-3" src="assets/icons/arrow-right.svg">
            </button>

        </div>
        <div class="calc-width h-52 3xl:h-64 inline-block  relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green">
            <div class="div-aling-item-card h-12">
                <p class="my-auto font-medium text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden">
                    O mundo é lindo
                </p>
                <div class="w-6 h-10 bg-slate-600">

                </div>
            </div>
            <p class="p-rows pt-2 my-auto font-medium pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>

            <button class="button-comportamento w-32 h-10 absolute right-6 bottom-4 text-left pl-5 rounded-2xl bg-unimed-green text-unimed-background text-lg">
                Acessar
                <img class="absolute right-4 bottom-3" src="assets/icons/arrow-right.svg">
            </button>

        </div>
        <div class="calc-width h-52 3xl:h-64 inline-block  relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green">
            <div class="div-aling-item-card h-12">
                <p class="my-auto font-medium text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden">
                    O mundo é lindo
                </p>
                <div class="w-6 h-10 bg-slate-600">

                </div>
            </div>
            <p class="p-rows pt-2 my-auto font-medium pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>

            <button class="button-comportamento w-32 h-10 absolute right-6 bottom-4 text-left pl-5 rounded-2xl bg-unimed-green text-unimed-background text-lg">
                Acessar
                <img class="absolute right-4 bottom-3" src="assets/icons/arrow-right.svg">
            </button>

        </div>
        <div class="calc-width h-52 3xl:h-64 inline-block  relative rounded-lg bg-unimed-background shadow-lg mx-auto border-l-8 border-l-unimed-green">
            <div class="div-aling-item-card h-12">
                <p class="my-auto font-medium text-lg md:font-semibold pl-4 text-ellipsis w-60 whitespace-nowrap overflow-hidden">
                    O mundo é lindo
                </p>
                <div class="w-6 h-10 bg-slate-600">

                </div>
            </div>
            <p class="p-rows pt-2 my-auto font-medium pl-4 text-ellipsis whitespace-normal overflow-hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorum nostrum aperiam ea repellat error
                rem vel iure et eos maiores adipisci officiis autem repellendus esse, corporis cumque! Aut, unde.
            </p>

            <button class="button-comportamento w-32 h-10 absolute right-6 bottom-4 text-left pl-5 rounded-2xl bg-unimed-green text-unimed-background text-lg">
                Acessar
                <img class="absolute right-4 bottom-3" src="assets/icons/arrow-right.svg">
            </button>

        </div>
    </div>
</body>