<div class="absolute {{b_Show_Popover? 'absolute':'hidden'}}">
    <div class="shadow-lg p-3 lg:flex box-border flex-col bg-slate-100 rounded-lg">
        <div class="relative pr-4 flex flex-row gap-x-3 cursor-pointer behavior-button">
            <img class="w-3 h-4" src="assets/icons/edit.svg">
            <span class="text-sm">Editar</span>
        </div>
        <div class="relative mt-2 pr-4 flex flex-row gap-x-3 cursor-pointer behavior-button">
            <img class="w-4 h-4" src="assets/icons/lixeira.svg">
            <span class="text-sm">Excluir</span>
        </div>
    </div>
    <div class="div-triangulo mx-auto">
    </div>
</div>