<app-header></app-header>

<div class="container relative top-12 lg:top-24 px-10">

    <div class="flex flex-col relative left-2 lg:left-2 lg:ml-2.5">
        <p class="relative text-sm md:text-base lg:text-xl font-semibold text-unimed-darkgray">
            Editar categoria</p>
        <div class="w-4 h-1 mt-1 md:mt-0 bg-unimed-pink rounded-full relative"></div>
    </div>
    <div class="top-8 lg:top-14 relative flex flex-col gap-y-4">
        <app-input [nm_Label_Input]="nm_Label_Input"></app-input>
        <div class="mt-4 flex flex-row w-full xl:w-6/12 mx-auto">
            <button class="w-28 h-9 md:w-32 md:h-10 border-2 border-unimed-pink bg-transparent  xl:w-36 xl:h-10 relative mx-auto bottom-4  shadow-md text-center rounded-lg  text-unimed-pink text-base">
                Cancelar
            </button>
            <button class="w-28 h-9 md:w-32 md:h-10 xl:w-36 xl:h-10 relative mx-auto bottom-4 shadow-md text-center rounded-lg bg-unimed-green text-unimed-background text-base">
                Salvar
            </button>
        </div>
    </div>
</div>
