.container{
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: 540px) {
        max-width: 400px;
    }
    @media (min-width: 768px) {
        max-width: 550px;
    }
    @media (min-width: 900px) {
        max-width: 650px;
    }
    @media (min-width: 1024px) {
        max-width: 750px;
    }
    @media (min-width: 1280px) {
        max-width: 1150px;
    }
    @media (min-width: 1536px) {
        max-width: 1250px;
    }
    @media (min-width: 1636px) {
        max-width: 1200px;
    }
    @media (min-width: 1780px) {
        max-width: 1300px;
    }
}

.div-grid-group{
    grid-template-columns: 1.3fr 1fr;
    @media (min-width: 720px) {
        grid-template-columns: 2fr 1fr;
    }
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.div-calc-itens{
    left: calc(100% - 23.4rem);

    @media (min-width: 720px) {
        left: calc(50% - 43rem);
    }
}
