<app-header [b_Not_Search]="b_Not_Search"></app-header>

<div class="container lg:bg-white lg:bg-opacity-60 pb-12">
    <div class="mt-5 lg:mt-10 xl:mt-14">
        <div class="relative flex flex-col text-sm left-4 md:left-5">
            <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
        </div>
    </div>
    <div class="mt-5 flex flex-col gap-y-3">
        <app-input label="Título"></app-input>
        <app-input label="Descrição"></app-input>
        <app-input label="Link"></app-input>
        <div class="div-grid-group grid grid-cols-2">
            <selection-input [objArrayList]="objArrayGroups" [nm_Label_Selection_Input]="nm_Label_Selection_Input"></selection-input>
            <div class="behavior-button mt-3 lg:mt-0 lg:flex-row mx-auto cursor-pointer" routerLink="/categoria-adicionar">
                <img class="relative mb-1 mx-auto w-5 h-5 lg:w-6 lg:h-6 lg:mt-5 lg:my-auto"
                    src="assets/icons/add-group.svg">
                <div class="text-xs relative lg:text-sm xl:text-base pl-2">
                    Adicionar categoria
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-x-4 relative top-4 md:top-12 lg:top-4 xl:top-8 lg:mx-10 lg:gap-x-10">
            <uni-button buttonClass="btn-outline" (click)="Back()">Voltar</uni-button>
            <uni-button buttonClass="btn-primary">Salvar</uni-button>
        </div>
    </div>
</div>