.container{
    max-width: 1300px;
    margin: 0 auto;
    @apply pb-10;

    @media (min-width: 780px) {
        max-width: 800px;
    }
    @media (min-width: 1200px) {
        max-width: 1000px;
    }
}

.div-grid-group{
    grid-template-columns: 1.3fr 1fr;
    @media (min-width: 720px) {
        grid-template-columns: 2fr 1fr;
    }
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.div-calc-itens{
    left: calc(100% - 23.4rem);

    @media (min-width: 720px) {
        left: calc(50% - 43rem);
    }
}
