<app-header></app-header>

<div class="container px-7 lg:px-12">
    <div class="mt-12 lg:mt-20">
        <div class="relative flex flex-col text-sm left-4 md:left-5">
            <p class="relative text-base font-semibold text-unimed-darkgray md:text-base xl:text-lg 3xl:text-lg">
                Adicionar conteúdo</p>
            <div class="w-5 h-1 bg-unimed-pink rounded-full relative">
            </div>
        </div>
    </div>

    <div class="mt-10">
        <div class="mx-auto">
            <app-input [nm_Label_Input]="nm_Titulo_Input"></app-input>
            <app-input [nm_Label_Input]="nm_Subtitulo_Input"></app-input>
            <app-input [nm_Label_Input]="nm_Link_Input"></app-input>
            <div class="div-grid-group grid grid-cols-2">
                <selection-input [objArrayList]="objArrayGroups"></selection-input>
                <div class="behavior-button mt-3 lg:mt-0 lg:flex-row mx-auto cursor-pointer">
                    <img class="relative mb-1 mx-auto w-5 h-5 lg:w-6 lg:h-6 lg:mt-5 lg:my-auto"
                        src="assets/icons/add-group.svg">
                    <div class="text-xs relative lg:text-sm xl:text-base pl-2">
                        Adicionar grupo
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-4 xl:gap-x-20 w-full relative top-6 md:top-12 xl:top-14">
                <div class="mx-auto w-full relative justify-center justify-self-center">
                    <uni-button buttonClass="btn-outline">Voltar</uni-button>
                </div>
                <uni-button buttonClass="btn-primary">Salvar</uni-button>
            </div>
        </div>
    </div>
</div>