.container{
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: 1024px) {
        max-width: 850px;
    }
    @media (min-width: 1280px) {
        max-width: 1250px;
    }
    @media (min-width: 1536px) {
        max-width: 1300px;
    }
    @media (min-width: 1636px) {
        max-width: 1300px;
    }
    @media (min-width: 1780px) {
        max-width: 1400px;
    }

    .div-grid-title{
        grid-template-columns: 2fr 1fr 2fr 1.5fr 1fr 1fr;
    }
  
}
.div-card{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.div-aling-popover {
    left: calc(100% - 11rem);
    top: calc(100% - 9rem);

    @media (min-width: 768px) {
        left: calc(100% - 11.8rem);
        top: calc(100% - 8.5rem);
    }
    @media (min-width: 1024px) {
        left: calc(100% - 12.7rem);
        top: calc(50% - 4.3rem);
    }
    @media (min-width: 1526px) {
        left: calc(100% - 13.4rem);
        top: calc(50% - 4.8rem);
    }
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.div-grid-itens{
    grid-template-columns: 0.5fr 1fr 0.5fr ;
}

.div-grid-name-arrow{
    grid-template-columns: 4fr 0.5fr;

    @media (min-width: 768px) {
        grid-template-columns: 5fr 0.4fr;
    }
}

.img-rotation-arrow-down{
    transform: rotateZ(-180deg);
    transition: all 0.4s ease;
}
