<app-header [b_Not_Search]="b_Not_Search"></app-header>

<div class="container lg:bg-white bg-opacity-70 relative pb-12 top-6 lg:top-14">

    <div class="flex flex-col relative left-2 lg:left-2 lg:ml-2.5">
        <uni-title  [ds_Titulo]="ds_Titulo"></uni-title>
    </div>
    <div class="top-6 relative flex flex-col gap-y-4">
        <app-input [required]="true" label="Categoria" [(ngModel)]="nm_Categoria" id="nm_Categoria" name="nm_Categoria">
        </app-input>
        <div class="lg:mt-4 flex flex-row w-full xl:w-6/12 px-4 gap-x-4 lg:gap-x-10 mx-auto">
            <uni-button buttonClass="btn-primary" (click)="Send_Category()">Salvar</uni-button>
            <uni-button buttonClass="btn-outline" (click)="Back()">Voltar</uni-button>
        </div>
    </div>
</div>

<div *ngIf="Send_Sugestion_Animacao">
    <app-send-suggestion></app-send-suggestion>
</div>


<alert-modal [ds_Descricao]="ds_Alert_Descricao" [b_Show_Alert_Modal]="b_Alert_Modal"
    (b_Closed_Alert_Modal)="Closed_Alert_Modal()"></alert-modal>
