<div class="w-full flex flex-row-reverse justify-between md:flex-row h-20">


    <div class="relative md:left-8 cursor-pointer pl-10 ml-20 xl:ml-40">
        <uni-search-bar></uni-search-bar>
    </div>

    <div class="logo {{b_Show_Itens? 'hidden': 'flex'}}">
        <img src="assets/images/logo.png">
    </div>
    <div class="div-fiter">
        <img class="img-width-filter {{b_Show_Itens? 'hidden': 'flex'}}" src="assets/icons/filter-three-lines.svg">
    </div>

    <div class="hidden md:flex md:flex-row mr-28">

        <div #menu class="itens-options">
            <div class="flex flex-col text-center align-middle justify-center p-4">
                <img class="w-8 h-8 mx-auto" src="assets/icons/my-studies.svg">
                <p>Meus estudos</p>
            </div>
            <div class="flex flex-col text-center align-middle justify-center p-4">
                <img class="w-6 h-6 mx-auto" src="assets/icons/more-options.svg">
                <p>Adicionar</p>
            </div>
            <div class="flex flex-col text-center align-middle justify-center p-4">
                <img class="w-6 h-6 mx-auto" src="assets/icons/light-bulb.svg">
                <p>Sugestões</p>
            </div>
            <div class="flex flex-col text-center align-middle justify-center p-4 -ml-8">
                <img class="w-5 h-5 mx-auto " src="assets/icons/exit.svg">
                <p>Sair</p>
            </div>
        </div>
    </div>
</div>

<div class="md:container mt-10">
    <div class="flex flex-wrap teste gap-4">
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        
    </div>
</div>


<div class="body-width mt-8">
</div>