<app-header></app-header>

<div class="w-full mt-10 md:mt-16 lg:mt-20 mb-10 mx-auto">
    <div class="cards-itens container">
        <div class="card" routerLink="/conteudo">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Complice</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
        <div class="card">
            <img class="icon-card" src="assets/icons/person-study.svg">
            <p>Sumario</p>
        </div>
    </div>
</div>

