
.container{
    max-width: 400px;
    
    @media screen and (min-width: 600px) {
        max-width: 600px
    }
    @media (min-width: 720px) {
        max-width: 800px;
    }
    @media (min-width: 1280px) {
        max-width: 1100px;
    }
    @media (min-width: 1536px) {
        max-width: 1300px;
    }
    @media (min-width: 1636px) {
        max-width: 1400px;
    }
}

.container-list{
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: 540px) {
        max-width: 400px;
    }
    @media (min-width: 768px) {
        max-width: 550px;
    }
    @media (min-width: 900px) {
        max-width: 650px;
    }
    @media (min-width: 1024px) {
        max-width: 750px;
    }
    @media (min-width: 1280px) {
        max-width: 1150px;
    }
    @media (min-width: 1536px) {
        max-width: 1250px;
    }
    @media (min-width: 1636px) {
        max-width: 1200px;
    }
    @media (min-width: 1780px) {
        max-width: 1400px;
    }

    .div-grid-title{
        grid-template-columns: 1fr 2fr 2fr 1.2fr 1fr;
    }
}

.cdk-listagem-items{
    height: 70vh;
    @apply w-full overflow-y-auto rounded-lg;

    @screen md{
        height: 73vh;
        @apply md:mt-12;   
    }
}

.div-grid-name-arrow{
    grid-template-columns: 4fr 0.5fr;

    @media (min-width: 768px) {
        grid-template-columns: 5fr 0.4fr;
    }
}

.cards-itens{
    @apply items-center grid grid-cols-2 mx-auto gap-y-2 md:gap-y-0;

    @media screen and (min-width: 600px) {
        @apply grid grid-cols-3;
    }
    @media screen and (min-width: 1280px) {
        @apply grid grid-cols-5;
    }
    @media screen and (min-width: 1400px) {
        @apply grid-cols-6;
    }
}

.card{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    @apply w-40 h-40 3xl:w-44 3xl:h-44 mx-auto bg-white rounded-xl cursor-pointer shadow-lg border-l-4 border-unimed-green;
  
    .icon-card{
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: relative;
        @apply w-16 mt-8;
    }

    p{
        top: 70%;
        left: 50%;
        margin-top: 0.3rem;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        position: fixed;
        @apply text-center text-unimed-gray;
    }
}

.div-comportamento-voltar{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.card:hover, .card:focus, .card:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

