<app-header></app-header>

<div class="container relative top-8 pb-10 lg:top-16">
    <div class="flex flex-col relative mb-8 xl:mb-14 left-4 lg:left-2 lg:ml-2.5 lg:mb-10">
        <p class="relative text-sm lg:text-lg font-semibold text-unimed-darkgray md:text-base">
            Adicionar usuário</p>
        <div class="w-5 h-1 bg-unimed-pink rounded-full relative"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-4 xl:gap-y-0">
        <div class="flex flex-col gap-y-4">
            <p class="ml-4 mb-2 font-semibold text-unimed-darkgray text-xs lg:text-sm">Dados pessoais</p>
            <app-input></app-input>
            <app-input></app-input>
            <app-input></app-input>     
        </div>
        <div class="flex flex-col gap-y-4">
            <p class="ml-4 mb-2 font-semibold text-unimed-darkgray text-xs lg:text-sm">Login</p>
            <app-input></app-input>
            <app-input></app-input>
            <app-input></app-input>     
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 md:gap-0 w-full relative top-6">
        <button class="behavior-button mx-auto w-32 h-10 md:w-44 md:h-12 rounded-2xl bg-unimed-pink text-unimed-background lg:text-lg">
            Cancelar
        </button>
        <button class="behavior-button w-32 h-10 md:w-44 md:h-12 mx-auto rounded-2xl bg-unimed-green text-unimed-background lg:text-lg">
            Adicionar
        </button> 
    </div>
</div>