header {
    position: sticky;
    padding: 1rem 1rem 0 1rem;
    top: 0;
    background: white;
    z-index: 10;

    label {
        font-weight: bold;
        font-size: 14px;
        color: #424242;
    }

    .input-search {
        display: flex;
        margin-top: 1rem;

        input[type=text] {
            flex: 0 0 80%;
            border: none;
            border-bottom: 1px #c9c9c9 solid;
            font-size: 16px;
            border-radius: 0;
            padding: .5rem 0;
            outline: none;

            &:focus {
                border-color: #5B5C65;
            }
        }

        button {
            flex: 0 0 20%;
            background: none;
            border: none;
            border-bottom: 1px #c9c9c9 solid;
            color: #444444;
            font-size: var(--font-size-small);
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                cursor: pointer;
                opacity: 0.76;
            }

            &:active {
                transform: scale(0.92);
            }
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

ul>li {
    border-bottom: 1px #e8e8e8 solid;
    padding: .85rem;
    font-size: var(--font-size-small);
    color: #616161;
    position: relative;

    &:hover {
        cursor: pointer;
        font-weight: bold;
    }

    a {
        text-align: left;
    }

    .title {
        text-transform: uppercase;
        color: black;
        margin: 0;
    }

    .subtitle {
        margin-top: .15rem;
        font-size: 11px;
        color: #5f5f5f;
    }
}

.lista-itens {
    height: 500px;
    overflow-y: auto;

    li {
        display: flex;

        div {
            margin-right: 1rem;

            p {
                padding-top: 5px;
            }
        }
    }

    &.multiple{
        height: 400px;
    }
}

/*
Checkbox customizado
*/
.checkbox {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    cursor: pointer;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }

    input[type="checkbox"]~div {
        position: relative;
        margin-right: 8px;
        width: 25px;
        height: 25px;
    }

    input[type="checkbox"]:not(:checked)~div {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M18 19H6a1 1 0 01-1-1V6c0-.6.5-1 1-1h12c.6 0 1 .5 1 1v12c0 .6-.5 1-1 1zm1-16H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2z'/%3E%3C/svg%3E");
    }


    input[type="checkbox"]:not(:checked):hover~div {
        background-repeat: no-repeat;
        opacity: 0.8;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ED1651'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M18 19H6a1 1 0 01-1-1V6c0-.6.5-1 1-1h12c.6 0 1 .5 1 1v12c0 .6-.5 1-1 1zm1-16H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2z'/%3E%3C/svg%3E");
    }

    input[type="checkbox"]:checked~div {
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ED1651'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M19 3H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2V5a2 2 0 00-2-2zm-8.3 13.3a1 1 0 01-1.4 0l-3.6-3.6a1 1 0 111.4-1.4l2.9 2.9 6.9-7a1 1 0 111.4 1.5l-7.6 7.6z'/%3E%3C/svg%3E");
    }

    input[type="checkbox"]:checked~div::before {
        content: '';
        width: 25px;
        height: 25px;
        background: #ED1651;
        opacity: 0.25;
        border-radius: 50%;
        position: absolute;
        animation: checkedAnimate 380ms ease both;
    }
}