<app-header (Input_Emit_Value)="onFilter_Search($event)"></app-header>

<div class="container relative top-6 lg:top-14">
    <app-button-scroll-top></app-button-scroll-top>
    <div class="grid grid-cols-2">
        <div class="pl-14 lg:pl-16 relative flex flex-col text-sm">
            <uni-title [ds_Titulo]="ds_Titulo"></uni-title>
        </div>
        <div class="flex flex-row relative gap-8 md:gap-8 mt-10 lg:gap-10 mr-16 justify-self-end">
            <app-button-filter class="cursor-pointer hidden" (b_Show_Modal)="Show_Modal($event)"></app-button-filter>
            <img title="Limpar histórico" class="behavior-button cursor-pointer w-4 h-5 md:w-4 md:h-6" src="assets/icons/X.svg" (click)="onClick_Clear_Study()">
            <img title="Recarregar página" class="behavior-button cursor-pointer w-6 h-6 md:w-7 md:h-7" src="assets/icons/refresh.svg" (click)="onClick_Refresh()">
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 relative top-6 gap-y-6 md:gap-y-10 w-full px-12 md:px-16 pb-10 lg:gap-x-10 lg:top-6">
        <div class="h-52 relative rounded-lg bg-unimed-white shadow-lg border-l-8 border-l-unimed-green"
            *ngFor="let estudo of obj_Array_Conteudos | filter: Input_Value">
            <div class="absolute div-aling-popover_card">
                <app-popover [nm_Svg_Top]="nm_Svg_Top" [nm_Svg_Bottom]="nm_Svg_Bottom" [nm_Opcao_top]="nm_Opcao_top"
                    [nm_Opcao_bottom]="nm_Opcao_bottom" [b_Rotate_Triangle]="b_Rotate_Triangle"
                    [b_Show_Popover]="estudo.show" (onClick_Option_Top)="onClick_Option_Top(estudo)"
                    (onClick_Option_Bottom)="onClick_Option_Bottom($event, estudo)">
                </app-popover>
            </div>
            <div class="div-grid-header-card h-12 w-full">
                <p
                    class="my-auto font-semibold text-lg md:font-semibold pl-4 truncate text-unimed-darkgray">
                    {{estudo.nm_titulo}}
                </p>
                <div class="grid grid-cols-2 cursor-pointer absolute mt-4 gap-x-5 lg:gap-x-0 right-3 md:right-4 xl:right-4 xl:gap-x-2"
                    >
                    <img class="w-5 h-5 behavior-button cursor-pointer -mt-1" src="assets/icons/{{estudo.sn_favorito?'start-yellow':'star-with-no-background'}}.svg" (click)="Start_Svg(estudo)">
                    <div class="lg:w-10 relative mx-auto" (click)="Show_Popover(estudo)" *ngIf="b_User_Admin">
                        <img class="behavior-button cursor-pointer mx-auto" src="assets/icons/filter-three-points.svg">
                    </div>
                </div>
            </div>
            <p
                class="p-rows pt-2 my-auto font-medium xl:text-base pl-4 text-ellipsis whitespace-normal overflow-hidden">
                {{estudo.ds_conteudo}}
            </p>

            <div class="grid grid-cols-2">
                <div
                    class="hidden mt-7 md:flex flex-row font-semibold md:font-semibold truncate pl-4 text-unimed-darkgray">
                    Categoria:
                    <p class="relative ml-2 font-normal truncate">
                        {{estudo.categoria.nome}}
                    </p>
                </div>
                <button (click)="onClick_Access(estudo)"
                    class="behavior-button w-32 h-10 absolute right-6 bottom-4 text-left pl-5 rounded-full bg-unimed-green text-unimed-white text-lg">
                    Acessar
                    <img class="w-4 h-4 absolute right-4 bottom-3" src="assets/icons/arrow-right-white.svg">
                </button>
            </div>
        </div>
    </div>
    <app-modal (b_Click_Sobreposicao)="Close_Modal()" class="{{b_Show_Filter?'':'hidden'}}">
        <div class="grid grid-cols-2">
            <div class="flex flex-col relative left-2 lg:left-2 pb-4 lg:ml-2.5 -mt-4">
                <uni-title ds_Titulo="Filtro"></uni-title>
            </div>
            <img class="behavior-button w-5 h-4 mt-1 absolute right-5 lg:right-8 top-8 cursor-pointer"
                src="assets/icons/X.svg" (click)="b_Show_Filter = !b_Show_Filter">
        </div>
        <div class="flex flex-col gap-y-2">
            <form>
                <app-input [required]="true" label="Título" [(ngModel)]="objFilter.nm_Nome" id="nm_Nome" name="nm_Nome">
                </app-input>
                <app-input [required]="true" label="Descrição" [(ngModel)]="objFilter.nm_Usuario" id="nm_Usuario"
                    name="nm_Usuario"></app-input>
                <app-input [required]="true" label="Grupo" [(ngModel)]="objFilter.nm_Status" id="nm_Status"
                    name="nm_Status"></app-input>
            </form>
        </div>
        <div class="flex flex-row mt-4 gap-x-4 mx-4">
            <uni-button buttonClass="btn-outline" (click)="Close_Modal()">Voltar</uni-button>
            <uni-button buttonClass="btn-primary" (click)="Filtrar()">Filtrar</uni-button>
        </div>
    </app-modal>

    <alert-modal [ds_Descricao]="ds_Descricao" [b_Show_Alert_Modal]="b_Confirmation_Show_Modal"
        (b_Closed_Alert_Modal)="Closed_Alert_Modal()" (b_Confirmed)="Set_Update_Conteudo()"></alert-modal>
</div>

<div *ngIf="obj_Array_Conteudos?.length == 0 || !obj_Array_Conteudos">
    <animation-nothing-found></animation-nothing-found>
</div>