.icon-card{
    @apply mx-auto mt-8;
}

.acao {
    min-width: 200px;
    color: black;
    height: 40px;
    border-bottom: 1px solid #dedede;
    line-height: 40px;
    cursor: pointer
}


.container{
    margin: 0 auto;

    @media (min-width: 1200px) {
        max-width: 1100px;
    }
    @media (min-width: 1536px) {
        max-width: 1300px;
    }
    @media (min-width: 1636px) {
        max-width: 1540px;
    }

    .calc-width{
        width: calc(100% - 40px);

        @media (min-width: 768px) {
            width: calc(100% - 6rem);
        }
        @media (min-width: 1536px) {
            width: calc(100% - 10rem);
        }
    }
}

.div-aling-popover{
    left: calc(100% - 4.4rem);
    @media (min-width: 768px) {
        left: calc(100% - 5rem);
    }
    @media (min-width: 1024px) {
        left: calc(100% - 6.3rem);
    }
    top: calc(100% - 18rem);
}

.div-hidden-card{
    animation: hidden-card 2s ease-in-out;

    @keyframes hidden-card {
        to{
            opacity: 0;
        }
        from{
            opacity: 1;
            display: hidden;
        }
    }
}

.div-aling-item-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.p-rows{
    width: calc(100% - 30px);
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.behavior-button{
    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }
}

.div-modal-excluir{
    width: calc(100% - 4rem);
    top: calc(50% - 12rem);
    @apply fixed bg-white my-auto z-30 rounded-lg transform -translate-x-1/2 left-1/2;

    @media (min-width: 720px) {
        width: calc(100% - 9rem);
    }

    @media (min-width: 1200px) {
        width: calc(100% - 50rem);
    }
    @media (min-width: 1636px) {
        width: calc(50% - 26rem);
    }
}

.div-modal-sobreposicao{
    @apply fixed inset-0 z-20 bg-black opacity-70 cursor-pointer;
}
